In [11]:
#for cassandra operations
import database_connect as connection
zip_path = r'C:\Users\hrisi\Downloads\secure-connect-shohure-kotha.zip'
client_id = 'sNDdkhPXxBpDLhCdmTXBtGKI'
client_secret = 'Z2qW1vltrp1vQ5A-iWmqYkxSh0eGiZYkoZtxK8jufzHxrRKKgDelsAo0bmJrAM3FJwOJt4c,JY1LsrAQGt_oDilBJeqEiqIcM_PhFcvNsaw-MjwwpCqCNgbCL.SoHt.m'
keyspace = 'test_package'   #note: keyspace should be created manually in datastax cassandra. Keyspaces are not allowed to create from backend.
table_name = 'test_3'

cassandra = connection.cassandra_operations(zip_path,
                                            client_id,
                                            client_secret,
                                            keyspace,
                                            table_name)

In [12]:
# First, column names along with the data type should be created which we need to pass in the function
# do not forget to create a primary key also
columns = "column1 text primary key, column2 text, column3 text"
# column_names = ','.join([name.split(' ')[0] if len(name.split(' ')[0])>1 else name.split(' ')[1] for name in [column for column in columns.split(',')] ])
# cassandra.create_table(column_names)

In [13]:
column_names

'column1,column2,column3'

In [4]:
values = "value7, value2, value3"
values
cassandra.insert_data(columns = column_names, values=values)

 insert into test_2 (column1,column2,column3) values('value7', ' value2', ' value3');

In [9]:
df = cassandra.read_data()

In [6]:
df.to_csv('test.csv')

In [8]:
cassandra.bulk_upload(df)

In [10]:
df

  column1  column2  column3
0  value7   value2   value3
1  value1   value2   value3
2  value5   value2   value3
3  value4   value2   value3